body {
  background-color: #88ec8c;
}

.postContainer{
  background-color: white;
  width: 50%;
  margin-bottom: 20px;
  padding-bottom: 20px;
  display: block;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0,2);
}

.button{
  background-color: #000000;
  color: #ffffff;
  border-radius: 5px;
  border: 0;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
}